<section class="explanation">
  <%= render partial: 'layouts/logo_out' %>
  <div class="big">
    <%= t 'frontpage.main_title' %>
  </div>
  <div class="lite">
    <%= t 'frontpage.stats', users: User.count, groups: Group.count %>
  </div>
</section>
