#frontpage
  .explanation
    h3
      font-family: $sansFontFamilyMedium
    h4
      color: #888
      font-family: $sansFontFamilyLight


  .characteristic
    header
      text-align: center
      color: $gray
      border-bottom: 1px solid #ccc
    p
      font-family: $sansFontFamilyLight
      color: #888
